<mat-toolbar class="navbar" >

    <img src="./assets/PizzeriaLogo.png" class="logo-image">
      <button mat-button routerLink="/home" routerLinkActive="active" disableRipple='true'>Inicio</button>
      <button mat-button  routerLink="/orderPizza" routerLinkActive="active">Pedidos</button>
      <button mat-button routerLink="/buildPizza" routerLinkActive="active">Contruye tu Pizza</button>
      <span  class="fill"></span>
      <a mat-raised-button color="gold" routerLink="/shoppingcart">Carrito de compras</a>
  </mat-toolbar>